<div class="wrapper">
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Options</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="creationTypes">
                    <mat-option *ngFor="let option of creationOptions" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-select>
              </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>      

    <mat-grid-list cols="3" rowHeight="2:1" *ngIf="selectedValue == 'event'">
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput type="text" class="form-control" id="title" required [(ngModel)]="timelineEvent.title" name="title"/>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput  type="text" class="form-control" id="description" required [(ngModel)]="timelineEvent.description" name="description"/>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          
            <mat-form-field appearance="fill">
                <mat-label>date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="timelineEvent.date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker2" [(ngModel)]="timelineEvent.endDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
              
            <button mat-raised-button color="primary" (click)="createTimelineEvent()">Save Event</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-checkbox class="" [(ngModel)]="timelineEvent.happening">Happening</mat-checkbox>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="3" rowHeight="2:1" *ngIf="selectedValue == 'type'">
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Category</mat-label>
                <input matInput type="text" class="form-control" id="category" required [(ngModel)]="timelineType.category" name="category"/>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Subcat</mat-label>
                <input matInput type="text" class="form-control" id="subCategory" required [(ngModel)]="timelineType.subCategory" name="subCategory"/>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput type="text" class="form-control" id="description" required [(ngModel)]="timelineType.description" name="description"/>
            </mat-form-field>
            <button mat-button (click)="createTimelineType()">Save Type</button>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="3" rowHeight="2:1" *ngIf="selectedValue == 'location'">
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Country (then)</mat-label>
                <input matInput type="text" class="form-control" id="countryName" required [(ngModel)]="timelineLocation.countryName" name="countryName"/>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Place</mat-label>
                <input matInput type="text" class="form-control" id="placeName" required [(ngModel)]="timelineLocation.placeName" name="placeName"/>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>continent</mat-label>
                <input matInput type="text" class="form-control" id="continent" required [(ngModel)]="timelineLocation.continent" name="continent"/>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>currentCountryName</mat-label>
                <input matInput type="text" class="form-control" id="currentCountryName" required [(ngModel)]="timelineLocation.currentCountryName" name="currentCountryName"/>
            </mat-form-field>
            <button mat-button (click)="createTimelineLocation()">Save Location</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Latitude</mat-label>
                <input matInput type="text" class="form-control" id="coordinateX" required [(ngModel)]="timelineLocation.coordinates.latitude" name="coordinateX"/>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Longitude</mat-label>
                <input matInput type="text" class="form-control" id="coordinateY" required [(ngModel)]="timelineLocation.coordinates.longitude" name="coordinateY"/>
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

</div>